<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updateAt="27/04/2024 15:41" createdAt="22/03/2024"
   notes="we have tho bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>

   <app-pickup-call-card status="processing" updateAt="28/04/2024 18:31" createdAt="22/03/2024"
    notes="we have two bags that are full"></app-pickup-call-card>

    <app-pickup-call-card status="Finished" updateAt="29/04/2024 17:11" createdAt="22/03/2024" value="$ 99,00"></app-pickup-call-card>
</ion-content>
