<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI1xj-CPRgM1AgxJ1leDihS39P8zehSdwjVg&s" />
  <ion-card>
    <ion-card-content>
      <p>Address: jl prawirotaman 3</p>
      <p>Complement: no 850</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip code: 123456789</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="tertiary" (click)="newPickupCall()">Create pickup call</ion-button>
</ion-content>
